[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
	compactionHeuristics = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	default = simple
[difftool]
	prompt = false
[pager]
	diff = perl ~/.local/bin/diff-highlight | less
	show = perl ~/.local/bin/diff-highlight | less
	log =  perl ~/.local/bin/diff-highlight | less
[interactive]
	diffFilter = perl ~/.local/bin/diff-highlight
[include]
	path = ~/.gitconfig_local
[init]
	templatedir = ~/.git_template
[log]
	decorate = true
[alias]
	l = log --graph --abbrev-commit --decorate --format=format:'%C(bold 156)%h%C(reset) - %C(dim white)(%ar)%C(reset) %C(normal)%s%C(reset) %C(bold white)<%an>%C(reset)%C(156)%d%C(reset)' --all
	ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold 156)%h%C(reset) - %C(dim 208)%aD%C(reset) %C(dim white)(%ar)%C(reset)%C(156)%d%C(reset)%n''          %C(normal)%s%C(reset) %C(bold white)<%an>%C(reset)' --all
