[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
	compactionHeuristics = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	default = simple
[difftool]
	prompt = false
[pager]
	diff = perl ~/.diff-highlight | less
	show = perl ~/.diff-highlight | less
	log =  perl ~/.diff-highlight | less
[interactive]
	diffFilter = perl ~/.diff-highlight
[include]
	path = ~/.gitconfig_local
[init]
	templatedir = ~/.git_template
